<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online CV - Jürgen Ratzenböck</title>

    <link rel="icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="styles/vendor.min.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'">

    {% include "partials/load-css-async.html" %}
    <!--{% include "partials/css-preload.html" %}-->
    <noscript>
        <link rel="stylesheet" href="styles/vendor.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </noscript>

    <link rel="stylesheet" href="styles/style.min.css"/>

    <!--{% include "partials/ga.html" %}-->
</head>

<body data-spy="scroll" data-target=".navbar">
    {% block content %} {% endblock %}
</body>

</html>