<footer class="container-fluid resume-footer">
    <div class="row resume-footer__container">
        <div class="col-xs-6">
            © 2018 Jürgen Ratzenböck
        </div>
        <div class="col-xs-6">
            <ul class="resume-footer-accounts">
                <li class="resume-footer-accounts__item">
                    <a class="account-item-link" href="mailto: juergen.ratzenboeck@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="resume-footer-accounts__item">
                    <a class="account-item-link" href="https://github.com/jratzenboeck" target="_blank">
                        <i class="fa fa-github resume-footer-accounts__icon"></i>
                    </a>
                </li>
                <li class="resume-footer-accounts__item">
                    <a class="account-item-link" href="https://www.linkedin.com/in/j%C3%BCrgen-ratzenb%C3%B6ck-221a9a14b/"
                       target="_blank">
                        <i class="fa fa-linkedin resume-footer-accounts__icon"></i>
                    </a>
                </li>
                <li class="resume-footer-accounts__item">
                    <a class="account-item-link" href="https://www.xing.com/profile/Juergen_Ratzenboeck" target="_blank">
                        <i class="fa fa-xing resume-footer-accounts__icon"></i>
                    </a>
                </li>
                <li class="resume-footer-accounts__item">
                    <a class="account-item-link" href="https://www.twitter.com/j_ratzenboeck" target="_blank">
                        <i class="fa fa-twitter resume-footer-accounts__icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>