<nav class="navbar navbar-default navbar-fixed-top resume-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#main-navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jürgen Ratzenböck</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#about-me">Über mich</a>
                </li>
                <li>
                    <a href="#education">Ausbildung</a>
                </li>
                <li>
                    <a href="#career">Berufserfahrung</a>
                </li>
                <li>
                    <a href="#abilities">Fähigkeiten</a>
                </li>
                <li>
                    <a href="#projects">Projekte & Erfolge</a>
                </li>
                <li>
                    <a href="#spare-time">Freizeit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>