<ul class="about-me-list text-left-sm">
    <li>Name: Jürgen Ratzenböck, BSc.</li>
    <li>Geburtsdatum: 22.08.1992</li>
    <li>Anschrift: Dornacherstraße 9/207, 4040 Linz</li>
    <li>Telefon: 0677 61235089</li>
    <li>Staatsbürgerschaft: Österreich</li>
    <li>Dev Blog: <a class="blog-link" href="https://www.jratzenboeck.com" target="_blank">www.jratzenboeck.com</a></li>

    <ul class="abut-me-list">
        <li class="about-me-list__account-item">
            <a class="account-item-link" href="mailto: juergen.ratzenboeck@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li class="about-me-list__account-item">
            <a class="account-item-link" href="https://github.com/jratzenboeck" target="_blank"><i class="fa fa-github"></i></a>
        </li>
        <li class="about-me-list__account-item">
            <a class="account-item-link" href="https://www.linkedin.com/in/j%C3%BCrgen-ratzenb%C3%B6ck-221a9a14b/"
               target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="about-me-list__account-item">
            <a class="account-item-link" href="https://www.xing.com/profile/Juergen_Ratzenboeck" target="_blank">
                <i class="fa fa-xing"></i>
            </a>
        </li>
        <li class="about-me-list__account-item">
            <a class="account-item-link" href="https://www.twitter.com/j_ratzenboeck" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
    </ul>
</ul>