<div id="projects" class="section projects-section">
    <h2 class="text-center">Projekte und Erfolge</h2>

    <div class="container-fluid section__content">
        <h3 class="section__subtitle">Projekte</h3>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <a class="project-link" href="https://www.jratzenboeck.com" target="_blank">
                    <figure class="project-figure">
                        <img class="project-figure__image lazy-load"
                             data-src="img/dev-blog.png" alt="Developer blog von Jürgen Ratzenböck"/>
                        <figcaption class="project-figure__caption">
                            <p class="project-figure__caption-header">Mein persönlicher Developer Blog</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-sm-6 resume-item__column">
                <a href="http://www.mv-wartberg.at" target="_blank">
                    <figure class="project-figure">
                        <img class="project-figure__image lazy-load"
                             data-src="img/mv-wartberg.png" alt="Homepage Musikverein Wartberg"/>
                        <figcaption class="project-figure__caption">
                            <p class="project-figure__caption-header">Homepage - Musikverein Wartberg</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <a href="http://www.ff-steyregg.at" target="_blank">
                    <figure class="project-figure">
                        <img class="project-figure__image lazy-load"
                             data-src="img/ff-steyregg.png" alt="Homepage der Feuerwehr Steyregg"/>
                        <figcaption class="project-figure__caption">
                            <p class="project-figure__caption-header">Homepage - Feuerwehr Steyregg</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-sm-6 resume-item__column">
                <a href="http://juckreyz.at" target="_blank">
                    <figure class="project-figure">
                        <img class="project-figure__image lazy-load"
                             data-src="img/juckreyz.png" alt="Homepage des Theatvereins Juckreyz"/>
                        <figcaption class="project-figure__caption">
                            <p class="project-figure__caption-header">Homepage - Theaterverein Juckreyz</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>

        <h3 class="section__subtitle">Abschlussarbeiten</h3>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-pencil resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Master Thesis</strong>
                </span>
                <p>Johannes Kepler Universität Linz</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <span class="resume-item__header">
                    <strong>Thema</strong>
                </span>
                <p>Using Behavioral Analytics to reason about Customer Satisfaction in data-intensive Software Systems</p>
            </div>
        </div>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-pencil resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Bachelor Thesis</strong>
                </span>
                <p>Johannes Kepler Universität Linz</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <span class="resume-item__header">
                    <strong>Thema</strong>
                </span>
                <p>Web Performance Monitoring and Tuning</p>
            </div>
        </div>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-pencil resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Diplomarbeit für Matura</strong>
                </span>
                <p>HTBLA Leonding</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <span class="resume-item__header">
                    <strong>Thema</strong>
                </span>
                <p>Intelli Music - Musikplayer mit Spracherkennung gesteuert</p>
            </div>
        </div>

        <h3 class="section__subtitle">Erfolge</h3>

        <ul class="resume-item success-list">
            <li>
                <i class="fa fa-trophy resume-item__icon"></i>
                <span>Leistungsstipendium Bachelorstudium</span>
            </li>
            <li>
                <i class="fa fa-trophy resume-item__icon"></i>
                <span>Matura mit ausgezeichnetem Erfolg</span>
            </li>
            <li>
                <i class="fa fa-trophy resume-item__icon"></i>
                <span>Teilnahme mit Diplomarbeit am Project Award (HTL Leonding, Perg und Grieskirchen)</span>
            </li>
            <li>
                <i class="fa fa-trophy resume-item__icon"></i>
                <span>Business English Cambridge Certificate</span>
            </li>
            <li>
                <i class="fa fa-trophy resume-item__icon"></i>
                <span>Halbfinalteilnahme in HTL mit Projekt bei Jugend Innovativ</span>
            </li>
        </ul>
    </div>

</div>