<div id="spare-time" class="section spare-time-section">
    <h2 class="text-center">Freizeit</h2>

    <div class="container-fluid section__content">

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-soccer-ball-o resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Sport</strong>
                </span>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Sportarten</strong>
                </p>
                <ul class="focus-list">
                    <li>Laufen</li>
                    <li>Beachvolleyball</li>
                    <li>Runtastic Results Workouts</li>
                    <li>Skifahren</li>
                    <li>Badminton & Squash</li>
                </ul>
            </div>
        </div>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-fire-extinguisher resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Freiwillige Feuerwehr</strong>
                </span>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Aktives Mitglied</strong>
                </p>
            </div>
        </div>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-book resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Lesen</strong>
                </span>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Interessen</strong>
                </p>
                <ul class="focus-list">
                    <li>Biographien</li>
                    <li>Fachbücher (IT, Technologie, Startups)</li>
                    <li>Sportbücher</li>
                </ul>
            </div>
        </div>

        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-music resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Musik</strong>
                </span>
            </div>
            <div class="col-sm-6">
                <p class="resume-item__header">
                    <strong>Ich höre sehr gern</strong>
                </p>
                <ul class="focus-list">
                    <li>Österreichische Musik</li>
                    <li>Punk Rock</li>
                    <li>Pop Klassiker</li>
                </ul>
            </div>
        </div>

    </div>

</div>