<div class="section education-section">
    <h2 class="text-center">Ausbildung</h2>
    <div class="container-fluid section__content">
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column-xs">
                <i class="fa fa-graduation-cap resume-item__header"></i>
                <span class="resume-item__header">
                    <strong>Masterstudium Computer Science</strong>
                </span>
                <p>Johannes Kepler Universität Linz</p>
                <p>März 2016 - heute</p>
            </div>
            <div class="col-sm-6 resume-item__column-xs">
                <p class="resume-item__header"><strong>Schwerpunkte</strong></p>
                <ul class="focus-list">
                    <li>Web Information Systems & Big Data</li>
                    <li>User-generated Content & Machine Learning</li>
                    <li>Accessible Software- and Web Design</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column-xs">
                <i class="fa fa-graduation-cap resume-item__header"></i>
                <span class="resume-item__header">
                    <strong>Bachelorstudium Informatik</strong>
                </span>
                <p>Johannes Kepler Universität Linz</p>
                <p>Oktober 2012 - Februar 2016</p>
            </div>
            <div class="col-sm-6 resume-item__column-xs">
                <p class="resume-item__header"><strong>Schwerpunkte</strong></p>
                <ul class="focus-list">
                    <li>Theoretische Informatik & Mathematik</li>
                    <li>Software Engineering</li>
                    <li>Datenbanken & Informationssysteme</li>
                    <li>Multimediasysteme & Embedded and Pervasive Systems</li>
                    <li>Informatikgrundlagen Hardware</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column-xs">
                <i class="fa fa-graduation-cap resume-item__header"></i>
                <span class="resume-item__header">
                    <strong>Bachelorstudium Informatik</strong>
                </span>
                <p>University of Helsinki</p>
                <p>September 2014 - Mai 2015</p>
            </div>
            <div class="col-sm-6">
                <p class="resume-item__header"><strong>Erasmus Austauschstudium</strong></p>
                <ul class="focus-list">
                   <li>Fachliche und persönliche Weiterentwicklung</li>
                   <li>Internationalen Erfahrungen</li>
                   <li>Verbesserung der Englischkenntnisse</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column-xs">
                <i class="fa fa-graduation-cap resume-item__header"></i>
                <span class="resume-item__header">
                    <strong>EDV und Organisation</strong>
                </span>
                <p>Höhere Technische Bundeslehranstalt Leonding</p>
                <p>September 2006 - Juli 2011</p>
            </div>
            <div class="col-sm-6">
                <p class="resume-item__header"><strong>Schwerpunkte</strong></p>
                <ul class="focus-list">
                    <li>Software Engineering</li>
                    <li>Angewandte Datentechnik</li>
                    <li>Projektentwicklung</li>
                </ul>
            </div>
        </div>
    </div>
</div>