<div id="career" class="section carreer-section">
    <h2 class="text-center">Berufserfahrung</h2>
    <div class="container-fluid section__content">
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Tractive GmbH</strong>
                </span>
                <p>Pasching</p>
                <p>Juni 2015 - heute</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header"><strong>Web/Services Developer</strong></p>
                <ul class="focus-list">
                    <li>Entwicklung und Wartung von Web apps (AngularJS, Angular 4)</li>
                    <li>Backend Development (Ruby on Rails, Spring Boot)</li>
                    <li>Diverse DevOps Aufgaben (zB CI, Docker)</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Racon Software GmbH</strong>
                </span>
                <p>Linz</p>
                <p>Mai 2012 - Juli 2014</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Web/Services ELBA Bankrechner</strong>
                </p>
                <ul class="focus-list">
                    <li>Weiterentwicklung von Backend/Web für Bankbetreuer (Java EE)</li>
                    <li>Wartung/Support von Datenbanksystemen (SQL, PL/SQL)</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Neuromed Campus (ehem. Wagner-Jauregg)</strong>
                </span>
                <p>Linz</p>
                <p>August 2011 - April 2012</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Zivildienst</strong>
                </p>
                <p>Intensivstation</p>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Neuromed Campus (ehem. Wagner-Jauregg)</strong>
                </span>
                <p>Linz</p>
                <p>Juli 2011 - August 2011</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Ferialpraktikum</strong>
                </p>
                <ul class="focus-list">
                    <li>Microsoft Office</li>
                    <li>Hardware-Installationen / Technischer Support</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Honeywell Austria GmbH</strong>
                </span>
                <p>Linz</p>
                <p>Juli 2010 - August 2010</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Ferialpraktikum</strong>
                </p>
                <ul class="focus-list">
                    <li>Office-Bereich / Visual Basic Programmierung</li>
                    <li>Mitarbeit bei Inbetriebnahme elektronischer Geräte und deren softwaretechnische Überwachung</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>MCE AG</strong>
                </span>
                <p>Linz</p>
                <p>Juli 2009 - August 2009</p>
            </div>
            <div class="col-sm-6 resume-item__column">
                <p class="resume-item__header">
                    <strong>Ferialpraktikum</strong>
                </p>
                <ul class="focus-list">
                    <li>Microsoft Office Tätigkeiten</li>
                    <li>AutoCAD</li>
                </ul>
            </div>
        </div>
        <div class="row resume-item">
            <div class="col-sm-6 resume-item__column">
                <i class="fa fa-suitcase resume-item__header resume-item__icon"></i>
                <span class="resume-item__header">
                    <strong>Konnex GmbH</strong>
                </span>
                <p>Linz</p>
                <p>August 2008 - September 2008</p>
            </div>
            <div class="col-sm-6">
                <p class="resume-item__header">
                    <strong>Ferialpraktikum</strong>
                </p>
                <ul class="focus-list">
                    <li>Hardwareinstallationen</li>
                    <li>Lagerarbeit</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="next-section">
        <p class="next-section__link-text">Fähigkeiten</p>
        <a href="#abilities"><i class="fa fa-chevron-down fa-3x"></i></a>
    </div>
</div>