@import 'tools';

// Navbar
.resume-navbar {
  border-width: 0;
}

// General section component
.section {
  width: 100%;
  padding: 50px 0;
  position: relative;

  .section__content {
    width: 100%;
    margin: 50px auto 0 auto;

    @media (min-width: $small-device) {
      width: 75%;
    }

    @media (min-width: $medium-device) {
      width: 50%;
    }
  }

  .section__subtitle {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media (min-width: $small-device) {
  .fullscreen-section-sm {
    height: 100vh;
  }
}

// Container centered absolutely vertically and horizontally in viewport
.container-center-total {
  @include container-fixed-centered-horizontal(300px, 200px);
  top: 50%;

  @media (min-width: $small-device) {
    @include container-fixed-centered-horizontal(500px, 100px);
  }
  @media (min-width: $medium-device) {
    @include container-fixed-centered-horizontal(700px, 150px);
  }
}

// Next section component (link text and arrow down)
.next-section {
  @include container-fixed-centered-horizontal(300px, 80px);
  bottom: 20px;
  height: auto;

  .next-section__link-text {
    line-height: 1.0;
    font-size: 18px;
  }
}

.resume-item {
  margin-bottom: 0;

  @media (min-width: $small-device) {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .resume-item__header {
    font-size: 20px;
  }

  .resume-item__icon {
    padding-right: 5px;
  }

  .resume-item__column {
    margin-bottom: 20px;

    @media (min-width: $small-device) {
      margin-bottom: 0;
    }
  }

  .resume-item__inner-row {
    margin-top: 20px;
  }
}

.focus-list {
  margin-left: 20px;
  list-style-type: square;
}

// First section with content
.intro-section {
  height: 100vh;
  background-color: #6ed3cf;
}

#headline {
  font-size: 36px;

  @media (min-width: $small-device) {
    font-size: 48px;
  }
  @media (min-width: $medium-device) {
    font-size: 72px;
  }
}

// Second section with content
.about-me-section {
  background-color: #9068be;

  @media (min-width: $small-device) {
    padding-bottom: 0;
    padding-top: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.section-intro-text {
  margin-bottom: 50px;
}

.about-me-list {
  list-style: none;
  line-height: 2.0;
  text-align: center;
  margin-top: 50px;

  @media (min-width: $small-device) {
    margin: 0;
  }

  .about-me-list__account-item {
    display: inline;
    font-size: 1.3em;
    padding-right: 5px;
  }
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid lightgrey
}

// Third section
.education-section {
  background-color: #22264b;
}

// Fourth section
.carreer-section {
  background-color: #667467;
}

// Fifth section
.abilities-section {
  background-color: #3fb0ac;
}

// Sixth section
.projects-section {
  background-color: #856046;
}

.project-figure {
  background: #1d2120;
  position: relative;

  &:hover {
    .project-figure__image {
      opacity: 0.2;
    }
  }

  &:hover {
    .project-figure__caption-header {
      opacity: 1.0;
    }
  }

  .project-figure__image {
    max-width: 100%;
    height: auto;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .project-figure__caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
  }

  .project-figure__caption-header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.success-list {
  list-style-type: none;
}

// Seventh section
.spare-time-section {
  background-color: #e62739;
}

// Footer
.resume-footer {
  background-color: #5a5c51;
  padding: 10px 0;

  .resume-footer__container {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $small-device) {
      width: 75%;
    }

    @media (min-width: $medium-device) {
      width: 50%;
    }
  }
}

.resume-footer-accounts {
  list-style-type: none;
  text-align: right;

  .resume-footer-accounts__item {
    display: inline-block;
    padding-right: 5px;
  }
}

.account-item-link {
  color: #fff;

  &:hover {
    color: #000;
  }
}

.blog-link {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #000;
  }
  &:visited {
    color: #fff;
  }
}