@import 'tools';

.section {
  width: 100%;
}

.first-section {
  background-color: #6ed3cf;
  height: 100vh;
  position: relative;
}

.second-section {
  background-color: #9068be;
}

.container-center-total {
  @include container-fixed-centered-horizontal(700px, 200px);
  top: 50%;
}

.next-section {
  @include container-fixed-centered-horizontal(300px, 80px);
  bottom: 10px;
}

.subtitle {
  text-align: center;
  padding: 30px 0;
}

.section__content {
  width: 50%;
  margin: 0 auto;
}

.about-me-list {
  list-style: none;
}

.about-me-list__account-item {
  display: inline;
  font-size: 1.3em;
  padding-right: 5px;
}

.profile-picture {
  text-align: right;
}

.profile-picture__image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 10px solid lightgrey
}