@import 'tools';

body {
  line-height: 1.8;
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif, Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  @include basic-link;

  &:hover {
    @include basic-link;
  }
}